.wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 280px auto 16px;
    box-shadow: 0 0 17px 0 rosybrown;
    width: 100%;
    max-width: 500px;
}
.input {
    font-size: 32px;
    height: 72px;
    background-color: #1c1f26;
    color: #fff;
    border: 2px solid red;
    border-radius: 0;
    display: block;
    width: calc(100% - 75px);
    padding-left: 20px;
    border: 1px solid blue;
}
.button {
    background: url("../../assets/button.png") no-repeat center;
    border-radius: 0;
    border: 0;
    padding: 0;
    cursor: pointer;
    color: #fff;
    background-color: brown;
    border: 2px solid #15418c;
    display: block;
    height: 75px;
    width: 75px;
}
